.loginpage {
	display: flex;
	flex-direction: row;
	gap: 40px;

	padding: 40px;
	background-color: var(--color-main-black);
	.content {
		position: relative;
		width: 51.042vw;
		height: 944px;
		border-radius: 32px;
		background: url('/img/login/main.png') lightgray -193px -168.999px / 171.02% 135.911% no-repeat;
		animation: fadeInBackground 4s ease-in-out;
		.logo {
			position: relative;
			top: 40px;
			left: 40px;
		}
		.motto {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			position: absolute;
			bottom: 150px;
			left: 40px;
			color: var(--color-main-white);
			.motto_text {
				color: var(--color-sub-color);
				font-weight: 200;
				font-size: 20px;
			}
		}
	}
	.activity {
		display: flex;
		width: 40.625vw;
		height: 944px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 152px;
		flex-shrink: 0;
		.login {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 72px;
			.login_title {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				align-self: stretch;
				.title {
					color: #fff;
					text-align: center;
				}
				.subtitle {
					color: #b2b5b6;
					opacity: 0.7;
				}
			}
			.inp_fields {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				align-self: stretch;
			}
		}
		
	}
	.tools {
		display: flex;
		width: 408px;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		.submitBtn {
			display: flex;
			padding: 18px 20px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			border-radius: 8px;
			opacity: 0.5;
			background: #fff;
		}
		.submitBtn_ready{
			opacity: 1;
		}
		.noAcc {
			display: flex;
			align-items: center;
			gap: 4px;
			.noAcc_text {
				color: #fff;
			}
			.noAcc_link {
				color: #fff;
				text-align: center;
				
				font-family: var(--font-main);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-decoration-line: underline;
                text-underline-offset: 2px;
			}
		}
	}
}
.error {
	color: #ea4e3d;

	/* Label/L2 */
	font-family: var(--font-main);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@keyframes fadeInBackground {
	0% {
		background-position: center top;
		opacity: 0;
	}
	100% {
		background-position: center center;
		opacity: 1;
	}
}